/node_modules
/lib
/dist
/test
/storybook-static
/coverage
/.vscode
/.eslintcache
yarn-error.log

/packages/*/dist
/packages/*/node_modules

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

/vite.config.mts.timestamp*
