/node_modules
/lib
/dist
/test/reports
/test/html_reports
/storybook-static
/coverage
/.vscode
/.eslintcache
yarn-error.log

/packages/*/dist
/packages/*/lib
/packages/*/node_modules

*.tsbuildinfo

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

/vite.config.mts.timestamp*
