name: Storybook

on:
  push:
    branches:
      - main

jobs:
  publish-storybook:
    name: Publish Storybook
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up yarn cache
      uses: actions/cache@v4
      id: yarn-cache # use this to check for `cache-hit` (`steps.yarn-cache.outputs.cache-hit != 'true'`)
      with:
        path: .yarn/cache
        key: ${{ runner.os }}-tsc-yarn-${{ github.ref }}-${{ hashFiles('**/yarn.lock') }}
        restore-keys: |
          ${{ runner.os }}-tsc-yarn-${{ github.ref }}-
          ${{ runner.os }}-tsc-yarn-
    - name: install node
      uses: actions/setup-node@v6
      with:
        node-version-file: .node-version
    - name: yarn install
      run: yarn install
    - name: build
      run: yarn run build
    - name: Build Storybook
      run: yarn run build-storybook
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./storybook-static
        cname: litform.interactiveliterature.org
